:root {
  /* --primary-color: #365d6d; */
  --primary-color: #376679;
  --secondary-color: #dc796a;
  --list-white-color: #ffffff;
  --list-primary-color: #02c5bd;
  --list-secondary-color: #FF3D41;
  --list-body-color: #515167;
  --list-heading-color: #070C3E;
  --list-button-color1: #FF282C;
  --list-button-color2: #FF4E51;
  --list-font-secondary: #7a7c93;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

/* btn style */
.primary-color {
  color: var(--primary-color);
}
.myBtn-sec {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.myBtn-primary {
  background-color: var( --list-button-color1);
  border: 1px solid var( --list-button-color1);
}

.inputField {
  background-color: #eeeeee;
  color: #6d6d6d;
  border: 1px soild #ccd7e6;
}
.font-primary {
  color: var(--primary-color);
}
.heading::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 0.125rem;
  left: 0;
  top: 50%;
  background-color: var(
    --list-primary-color
  );
}
.heading-after::after{
  content: "";
  position: absolute;
  width: 40%;
  height: 0.125rem;
  right: 0;
  top: 50%;
  background-color: var(
    --list-primary-color
  );
}
.navbar-custom {
  background-color: #101336;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .nav-link:hover {
  color: #ddd ; /* Optional: lighter color on hover */
}
@media only screen and (max-width: 600px) {
  .announcement-heading::before {
    width: 20vw; 
  }
}

.pointer {
  cursor: pointer;
}


/* banner */
.banner{
  background-image: url("./assets/app-banner/app-banner-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.font-sec{
  color: var(--list-font-secondary);
}
.font-pri{
  color: #02c5bd;
}
.bg-sec{
  background-color: #eef2f6;
}
.bg-pri{
  background-color: #376679;
}
