:root {
  /* --primary-color: #365d6d; */
  --primary-color: #376679;
  --secondary-color: #dc796a;
  --sec-color: #e4978b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* btn style */
.primary-color {
  color: var(--primary-color);
}
.myBtn-sec {
  background-color: var(--secondary-color);
  border: 2px solid var(--sec-color);
}
.myBtn-primary {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

.inputField {
  background-color: #eeeeee;
  color: #6d6d6d;
  border: 1px soild #ccd7e6;
}
