.hero {
   height: calc(92vh - 4.5rem);
   margin-top: 4.5rem;
  color: white;
  background-image: url(../../assets/hero/hero-banner.png);
  background-position:  center;
  background-size: cover;
}

p{
  font-size: 1.1rem;
}