.hero {
   height: calc(100vh - 4.5rem);
   margin-top: 4.5rem;
  background-color: #365d6d;
  color: white;
  background-image: url(../../assets/hero/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
}
